.budget_widget {
    background-color: rgb(223, 245, 229);
}
.widget_header {
}

img {
    float: left;
    height: 40px;
    margin-left: 5%;
}

.budget_widget h1 {
    float: left;
    margin: 0;
    margin-left: 10%;
}
.budget_widget h6 {
    color: green;
    float: left;
    margin: 0;
    margin-left: 37%;
}
