.expenses_widget {
    background-color: rgb(223, 245, 229);
}
.widget_header {
}

img {
    height: 40px;
}

.expenses_widget h1 {
    float: left;
    margin: 0;
    margin-left: 10%;
}
.expenses_widget h6 {
    color: red;
    float: right;
    margin: 0;
}
