.income_widget {
    background-color: rgb(223, 245, 229);
}
.widget_header {
}

img {
    height: 40px;
}

.income_widget h1 {
    float: left;
    margin: 0;
    margin-left: 10%;
}
.income_widget h6 {
    color: green;
    margin: 0;
    float: right;
}
