.bar {
    padding: 10px;
    margin-bottom: 20px;
}

.logo {
    height: 48px;
    margin-right: 20px;
}

.nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.nav-login-control {
    display: flex;
    margin-left: auto;
}