.sidebar {
    height: 100vh;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.sidebar-avatar {
    justify-content: center;
}

.sidebar-welcome {
    font-weight: bold;
}