.sidebar {
    padding: 0 12px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.sidebar-avatar {
    justify-content: center;
}