body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFE6 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  color: #191910;
  min-height: 100vh;
}

.main-body {
  display: flex;
  width: 100%;
}

.page-display {
  padding: 0 10px;
  margin-bottom: 30px;
  width: 100%;
}

.elevated {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.page-display > * {
  margin: 0;
}

.widget {
  border-radius: 10px;
  padding: 15px 20px;
  height: 100%;
  background-color: #F7F7F3;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.10));
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #5672C7 !important;
  border-color: #4766C2 !important;
}

.m-right {
  margin-right: 10px;
}